<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bitirme_Odevi"
        tools:targetApi="31">
        <activity
            android:name=".view.playAll.ScoreActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".view.playAll.PlayAllJobs"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.playAll.PlayAllFruit"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.playAll.PlayAllBoyutlar"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.playAll.PlayAllVehicle"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.playAll.PlayAllAnimal"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.playAll.PlayAllNumberss"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.playActivities.PlayJobsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.learnActivities.LearnJobsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.playActivities.PlayFruitActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.learnActivities.LearnFruitActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.playActivities.PlayVehicleActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.learnActivities.LearnVehicleActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.playActivities.PlayBoyutlarActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.learnActivities.LearnBoyutlarActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.playActivities.PlayAnimalActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.learnActivities.LearnAnimalVoiceActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.playActivities.PlayNumbersActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.learnActivities.LearnNumbersActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.PlayAllActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.LearnActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.PlayActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            android:screenOrientation="landscape" />
    </application>

</manifest>